.xn-nav{
	width:100%;
	height:80px;
	border-bottom:2px solid #FF5A5F;
	padding:0 5%;
	position: fixed;
	top:0;
	z-index: 3;
	background:#F5F5F5;
}
.xn-nav .xn-logo a{
	font-size:30px;
	line-height:80px;
	color:#FF5A5F;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: absolute;
	top:0px;
	left:5%;
}
.xn-nav .xn-logo a .xn-logo{
	width: 63px;
	height: 43px;
	margin:20px 10px 0 0;
}
.xn-nav .xn-logo a:hover{
	text-decoration: none;
	cursor: pointer;
}
.xn-nav .xn-time{
	font-size:20px;
	position:absolute;
	top:0;
	left:25%;
	line-height:80px;
}
.xn-nav .xn-time a{
	text-decoration: none;
	padding:0 5px;
	color:#FF5A5F;
}
.xn-nav .xn-time:hover{
	background:#FF5A5F;
}
.xn-nav .xn-time:hover a{
	color:#fff;
	cursor: pointer;
}
.xn-nav .xn-ul{
	position: absolute;
	top:0px;
	right:5%;
	height:80px;
}
.xn-nav .xn-ul li{
	height:80px;
	padding:10px 12px 0;
	font-size:15px;
	display: inline-block;
	text-align: center;
	margin:0 15px;
	color:#FF5A5F;
	font-weight:500;
}
.xn-nav .xn-ul li i{
	font-size:30px;
}
.xn-nav .xn-ul li:hover{
	background:#FF5A5F;
	color:#fff;
}
.xn-nav .xn-ul li:nth-child(3){
	position: relative;
	
}
.xn-nav .xn-ul li b.fs-san{
	font-size: 28px;
    position: absolute;
    color: #FF5A5F;   
    top: -29px;
    left: 73px;
}
.xn-nav .xn-ul li span{
	width: 180px;
	height: 120px;
	padding-top: 20px;
	display: block;
	position: absolute;
	top: 88px;
    left: -55px;
	background: #FF5A5F;
	border-radius: 5px;
}
.xn-nav .xn-ul li span p{
	color: #fff;
	text-align: left;
	padding-left: 15px;
	line-height: 30px;
	margin-bottom: 15px;
	display: block;
	font-size: 12px;
}
.xn-nav .xn-ul li span p>b{
	margin-left: 5px;
}
.xn-nav .xn-ul li span input{
	width: 70px;
	height: 28px;
	margin-left: 60px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: #DCDCDC;
	border-radius: 3px;
	outline: none;
	border: none;
	border: 1px solid #ccc;
	color: #000;

}
