.qx_center{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:90px;
}

/*wbm...*/
.qx_left{
	width: 15%;
	height: 600px;
	/*background: #fff;*/
	float: left;
	position: fixed;
	top:80px;
	
}
.qx_left h1{
	width: 100%;
	font-size: 18px;
	line-height: 50px;
	margin-top: 5px;
	text-align: center;
	border-right: 2px solid #FF5A5F;
	cursor: pointer;
}
.qx_left ul li{
	text-align: center;
	-font-size: 14px;	
	line-height: 40px;
	cursor: pointer;
	border-right: 1px solid transparent;
}
.qx_huia{
	   background: #AAAAAA;
    border-right: 1px solid #FF5A5F;
}
.qx_left ul li:hover{
	   background: #AAAAAA;
    border-right: 1px solid #FF5A5F;
} 

.qx_right{
	width: 85%;
	height: auto;
	padding: 0 30px;
	background: #ccc;
	float: left;
	margin-left:15%;
}
.qx_nav{
	width: 100%;
	height: 70px;
	/*background: pink;*/
}
.qx_list{
	width: 100%;
	height: 800px;
	/*background: #fff;*/
}
.qx_list>li{
	width: 90px;
	height: 90px;
	background: #fff;
	color: #999;
	margin: 0 10px 10px 0;
	padding-top: 10px;
	float: left;
	position: relative;
	cursor: pointer;
}
.qx_list>li>h4{
	/*color: #999;*/
	font-size: 18px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}
.qx_list>li>i{
	display: block;
	/*color: #999;*/
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}
.qx_list>li>b{
	display: block;
	/*color: #999;*/
	font-size: 16px;
	text-align: center;
}

.hover{
	width: 250px;
    height: 300px;
    background: rgba(117,42,61,0.8);
    position: absolute;
    top: 100px;
    left: -60px;
	border-radius: 20px;
	z-index: 2;
}
.hover>i{
	color: rgba(117,42,61,0.8);
    font-size: 28px;
    position: absolute;
    top: -29px;
    left: 90px;
}
.qx_lie{
	width: 252px;
	height: 300px;
	padding: 15px 15px 0 15px;
}
.qx_lie li{
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #fff;
	float: left;
}
.qx_lie li i{
	font-size: 12px;
	display: block;
	float: left;
	margin-right: 10px;
}
.qx_lie li p{
	display: block;
	font-size: 12px;
	float: left;
	margin:0;
}
.qx_white{
	background: #fff !important;
}
.qx_yellow{
	background: #f1c40f !important;
	color: #fff !important;
}
.qx_hui{
	background: #95a5a5 !important;
	color: #fff !important;
}
.qx_red{
	background: #FF5A5F !important;
	color: #fff !important;
}