
		<!--入住列表-->
		<div class="MMwrap" ng-app="myapp" ng-controller="ctrl_ruzhulist">
			<!--left list-->
			<div class="MM_leftnav">
				<ul>
					<li ng-click="news()"  ng-class="{'MMactive': isMMactive}">
						<i class="glyphicon glyphicon-user"></i> 入住列表
					</li>
					<li ng-click="hist()" ng-class="{'MMactive2': isMMactive2}">
						<i class="glyphicon glyphicon-earphone"></i> 预订入住列表
					</li>
					<li ng-click="lishi()" ng-class="{'MMactive3': isMMactive3}">
						<i class="glyphicon glyphicon-time"></i> 历史入住列表
					</li>
				</ul>
			</div>
			<!--right list-->
			<div class="MM_right">
				<!--1go-->
				<div class="MM_table" ng-show="isShow">
					<h2 class="mh2">入住信息</h2>
					<table border="1" cellspacing="0" cellpadding="0">

						<tr style="background:#AAAAAA">
							<th>编号</th>
							<th>房间号</th>
							<th>姓名</th>
							<th>身份证号码</th>
							<th>联系方式</th>
							<th>入住时间</th>
							<th>到期时间</th>
							<th>房费</th>
							<th>押金</th>
							<th>状态</th>
							<th>类型</th>
							<th>操作员</th>
						</tr>

						<tr ng-repeat="item in reqs | numberToInt | orderBy:'fangjianhao'">
							<td>{{$index+1}}</td>
							<td>{{item.fangjianhao}}</td>
							<td>{{item.name}}</td>
							<td>{{item.shenfenzhenghao}}</td>
							<td>{{item.tel}}</td>
							<td>{{item.ruzhu | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{item.daoqi | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{item.fangfei}}</td>
							<td>{{item.yajin}}</td>
							<td>{{item.zhuangtai}}</td>
							<td>{{item.leixing}}</td>
							<td>{{item.uid}}</td>
						</tr>

					</table>
				</div>
				<!--1end-->
				<!--2go-->
				<div class="MM_table" ng-show="isHide">
					<h2 class="mh2">预订入住信息</h2>
					<table border="1" cellspacing="0" cellpadding="0">

						<tr style="background:#AAAAAA">
							<th>编号</th>
							<th>房间号</th>
							<th>姓名</th>
							<th>身份证号码</th>
							<th>联系方式</th>
							<th>入住时间</th>
							<th>到期时间</th>
							<th>房费</th>
							<th>押金</th>
							<th>状态</th>
							<th>类型</th>
							<th>操作员</th>
							
						</tr>

						<tr ng-repeat="item in reqs | tuiberToInt2 | orderBy:'fangjianhao'">
							<td>{{$index+1}}</td>
							<td>{{item.fangjianhao}}</td>
							<td>{{item.name}}</td>
							<td>{{item.shenfenzhenghao}}</td>
							<td>{{item.tel}}</td>
							<td>{{item.ruzhu | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{item.daoqi | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{item.fangfei}}</td>
							<td>{{item.yajin}}</td>
							<td>{{item.zhuangtai}}</td>
							<td>{{item.leixing}}</td>
							<td>{{item.uid}}</td>

						</tr>

					</table>
				</div>
				<!--2end-->
				<!--3go-->
				<div class="MM_table" ng-show="isHide2">
					<h2 class="mh2">历史入住信息</h2>
					<table border="1" cellspacing="0" cellpadding="0">

						<tr style="background:#AAAAAA">
							<th>编号</th>
							<th>房间号</th>
							<th>姓名</th>
							<th>身份证号码</th>
							<th>联系方式</th>
							<th>入住时间</th>
							<th>到期时间</th>
							<th>房费</th>
							<th>押金</th>
							<th>状态</th>
							<th>类型</th>
							<th>操作员</th>
							
						</tr>

						<tr ng-repeat="a in arrTlist">
							<td>{{$index+1}}</td>
							<td>{{a.fangjianhao}}</td>
							<td>{{a.name}}</td>
							<td>{{a.shenfenzhenghao}}</td>
							<td>{{a.tel}}</td>
							<td>{{a.ruzhu  | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{a.daoqi  | date:'yyyy年MM月dd日HH:mm:ss'}}</td>
							<td>{{a.fangfei}}</td>
							<td>{{a.yajin}}</td>
							<td>{{a.zhuangtai}}</td>
							<td>{{a.leixing}}</td>
							<td>{{a.uid}}</td>

						</tr>

					</table>
				</div>
				<!--3end-->
			</div>
		</div>
		<!--入住列表-->
	
	

