<div ng-controller="xinxiCtrl">
	
	<div class="wb_sussce" ng-show="wbsussce"></div>
	<div class="wb_xiugai" ng-show="wb_xiugai_show">
		<p><span>房间号:</span><input type="text" ng-model="item.fangjianhao"/></p>
		<p><span>房间类型:</span>
			<select ng-model="item.leixing">
				<option>标准间</option>
				<option>大床房</option>
				<option>商务房</option>
				<option>豪华套房</option>
			</select>
		</p>
		<p><span>押金:</span><input type="text" ng-model="item.yajin"/></p>
		<button ng-click="wb_xiugai()">保存修改</button>
		
		<button ng-click="wb_xiugai_qx()">取消修改</button>
	</div>
	
	<div class="xn-sussce" ng-show="xnsussce" ng-click="xnhide()">{{sh_text}}</div>
	<div class="xn-sussces" ng-show="xnsussces" ng-click="xnhides()">保存成功！！</div>
	<div class="xn-tui" ng-show="tuihide" ng-click="tuihide()">退房成功！！</div>
	<div class="xn-truetui" ng-show="xntruetui">
		<h1>您确认退房吗？？</h1>
		<button ng-click="xntrue()">确认</button>  <button ng-click="xnremove()">取消</button>
	</div>
	<div class="xn-truetui" ng-show="wb_remove_box">
		<h1>您确认退房吗？？</h1>
		<button ng-click="wb_remove_qr()">确认</button>  <button ng-click="wb_remove_qx()">取消</button>
	</div>
	<h1 class="fs-title">客户信息({{item.fangjianhao}})</h1>
	<div class="fs-an">
		<button ng-click="wbm_xiugai()">修改房间</button> 
		<button ng-click="wb_remove()">删除房间</button>
		<a href="javascript:" ng-click="hui()">返回</a>
		<a href="javascript:" ng-click="tui()">退房</a>
	</div>
	<div class="fs-big">
		<form name="sh_xx_form">
			<ul class="fs-tel">
				<li>
					<p>姓名</p>
					<input type="text" name='user' value="{{item.name}}" ng-model="item.name" required ng-pattern='/[^\d]+/' autocomplete="off"/>
					<span>
					<i ng-show="sh_xx_form.user.$error.required" class='fs-yz-red'>* 请输入姓名</i>
					<i ng-show="sh_xx_form.user.$error.pattern" class='fs-yz-red'>* 姓名不能为数字</i>
				</span>
				</li>
				<li>
					<p>身份证号</p>
					<input type="text" value="{{item.shenfenzhenghao}}" ng-model="item.shenfenzhenghao" required name='sh_id' ng-pattern='/^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{4}$/'  autocomplete="off" /><b></b>
					<span>
					<i ng-show="sh_xx_form.sh_id.$error.required" class='fs-yz-red'>* 请输入本人证件号码</i>
					<i ng-show="sh_xx_form.sh_id.$error.pattern" class='fs-yz-red' >* 请输入有效的证件号码</i>
				</span>
				</li>
				<li>
					<p>手机号</p>
					<input type="text" value="{{item.tel}}" ng-model="item.tel" name='sh_phone' required ng-pattern='/^1[34578]\d{9}$/' autocomplete="off" /><b></b>
					<span>
					<i ng-show="sh_xx_form.sh_phone.$error.required" class='fs-yz-red'>* 请输入本人手机号码</i>
					<i ng-show="sh_xx_form.sh_phone.$error.pattern" class='fs-yz-red' >* 请输入有效的手机号码</i>
				</span>
				</li>
			</ul>
			<ul class="fs-ul">
				<li>
					<p>房间类型</p>
					<input type="text" value="{{item.leixing}}" ng-model="item.leixing" disabled/>
				</li>
				<li>
					<p>房间状态</p>
					<select ng-model="item.zhuangtai">
						<option>空房</option>
						<option>入住</option>
						<option>预订</option>
					</select>
				</li>
				<li>
					<p>房费</p>
					<input type="text" ng-model="item.fangfei" value="{{item.fangfei}}" /><b>元</b>
				</li>
				<li>
					<p>押金</p>
					<input type="text" value="{{item.yajin}}" ng-model="item.yajin" /><b>元</b>
				</li>
				<li>
					<p>入住时间</p><input type="text" class="workinput wicon mr25" value="{{item.ruzhu | date:'yyyy-MM-dd HH:mm:ss'}}" id="inpstart" readonly>
					<!--<input type="text" value="{{item.ruzhu}}"  ng-model="item.ruzhu"/><b></b>-->
				</li>
				<li>
					<p>到期时间</p><input type="text" class="workinput wicon mr25" value="{{item.daoqi | date:'yyyy-MM-dd HH:mm:ss'}}" id="inpend" readonly>
					<!--<input type="text" value="{{item.daoqi}}"  ng-model="item.daoqi"/><b></b>-->
				</li>
			</ul>
		</form>
		<a href="javascript:;" class="fs-bao xn-bao" ng-click="ruzhubaocun(item.id)">保存</a>
	</div>
</div>